@import 'variables';

html,
body {
    font-family: 'Commissioner', sans-serif;
    font-weight: $weight-normal;
    font-size: $font-size;
    background: $bg-white;
}

.container {
    background: $white;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    width: 55vw;
    max-width: 900px;
}

.overlay {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: $dark-gray;
        opacity: 0.5;
    }
}
