@import 'variables';

html,
body {
    font-family: 'Commissioner', sans-serif;
    font-weight: $weight-normal;
    font-size: $font-size;
    background: $bg-white;
}

.container {
    background: $white;
    margin: 0 auto;
    padding: 2em 1.4em;
    border-radius: 10px;
    width: 90vw;
    max-width: 400px;
}

.overlay {
    &::after {
        content: '';
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        background: $dark-gray;
        opacity: 0.5;
        // transform: scale(0);
    }
}

.hidden {
    display: none !important;
}

@media screen and (min-width: $bp-medium) {
    .container {
        padding: 3em;
        width: 55vw;
        max-width: 900px;
    }
}
