@import 'variables';

.link {
    display: inline-block;
    color: $white;
    padding: 1.25em 0;
    max-width: 150px;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    font-weight: $weight-bold;
    text-decoration: none;
    background: $moderate-cyan;
    &:hover {
        background: $dark-cyan;
        cursor: pointer;
    }
}

.disable {
    background: $dark-gray;
}
