@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
.modal {
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

.modalClose {
  float: right;
}

.modalClose:hover {
  cursor: pointer;
}

.CTA {
  display: block;
  margin-bottom: 3em;
}

.CTA h3 {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.CTA p {
  color: #7a7a7a;
  line-height: 1.75em;
  font-weight: 400;
}

.Card {
  padding: 2em;
  margin: 1em 0;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.disabled {
  opacity: 0.6;
}

.selected {
  border-color: #3cb4ac;
}

.Checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  display: block;
  margin: 0;
  font: inherit;
  width: 3em;
  height: 2em;
  border: 0.15em solid #e6e6e6;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.Checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  margin: 0;
  margin-right: 2em;
  font: inherit;
  width: 3em;
  height: 2em;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.Checkbox::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em #3cb4ac;
          box-shadow: inset 1em 1em #3cb4ac;
}

.Checkbox:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.CardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25em;
  gap: 1em;
}

.CardTitle h4 {
  font-weight: 700;
}

.CardTitle h4:hover {
  cursor: pointer;
  color: #3cb4ac;
}

.CardTitle p {
  color: #3cb4ac;
  font-weight: 500;
}

.CardTitle .stock {
  margin-left: auto;
  color: black;
  font-weight: 700;
}

.CardTitle .stock span {
  margin-left: 0.5em;
  font-weight: 400;
  color: #7a7a7a;
}

.description {
  color: #7a7a7a;
  line-height: 2em;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #e6e6e6;
  padding-top: 2em;
  margin-top: 2em;
}

.input label {
  color: #7a7a7a;
}

.input span {
  margin-left: auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 2px solid #e6e6e6;
  border-radius: 40px;
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  padding: 0 1.5em;
  gap: 0.75em;
}

.input span:hover {
  border-color: #3cb4ac;
  cursor: pointer;
}

.input span p {
  color: #7a7a7a;
  font-weight: 700;
}

.input span input {
  border: none;
  font-size: 1em;
  width: 80%;
  font-weight: 700;
}

.input span input:focus {
  outline: none;
}

@media screen and (min-width: 750px) {
  .CTA {
    display: block;
    margin-bottom: 3em;
  }
  .CTA h3 {
    font-weight: 700;
    font-size: 1.75em;
    margin-bottom: 0.5em;
  }
  .CTA p {
    color: #7a7a7a;
    font-weight: 500;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=SelectionModal.module.css.map */